
* {
	font-family: 'Roboto', sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1024px;
	display: flex;
}
header {
	margin: auto;
	display: flex;
	justify-content:space-between;
	height:12vh;
	max-width: 1024px;
}
header .logo {
	display: flex;
	align-items:center;
	font-size: 37px;
	letter-spacing: 0.1em;
	color: #e8523c;
	text-shadow:0px 1px 0px #555555;

}
.menu {
	display:flex;
	justify-content: flex-end;
	font-weight: 300;
	align-items:center;
}
nav a {
	display:block;
	padding:15px;
	margin-left: 5px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
	transition: 0.2s;
}
nav a.active,
nav a:hover {
	background-color:#FF4F5A;
	border-radius: 5px;
	color:#FFFFFF;
}

section{
	width: 100%;
	margin: auto;
}

section div.banner {
	display:flex;
	justify-content:center;
	color: white;
	height: 70vh;
	background-color: #FF4F5A;
	padding: 2%;
	/* background-image:url('../images/img1.jpg');
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	height:670px; */
}
.div-img{
	padding-top: 50px;
	align-content: center;
}
.div-img img {
	width: 400px;
	border-radius: 20px;
	margin: auto;
}
.column {
	flex-direction: column;
}
.headline {
	flex:1;
	display:flex;
	flex-direction: column;
	justify-content:center;
}
.headline h1 {
	color:#FFFFFF;
	font-size:50px;
	width: 100%;
	text-shadow:0px 1px 0px #555555;
}
.headline p{
	margin: 20px;
	padding: 20px;
	text-indent: 30px;
}
section div.title_section{
	width: 100%;
	background-color: #e8523c;
	height: 120px;
	line-height: 120px;
	text-align: center;
	color: white;
	font-size: 37px;
	border-radius: 0 0 35px 35px;
}
section div.content_projetos {
	width: 100%;
	margin: auto;
	margin-top: 20px;
	max-width: 1024px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

div.content_projetos .projeto {
	width: 300px;
	margin: 15px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #e8523c;
	box-shadow: 2px 2px 5px 1px black;
	color: white;
	padding-bottom: 0;
}
.projeto h2 {
	color: white;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
}
.projeto p{
	padding: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	text-indent: 30px;
	background-color: white;
	color: black;
}
.projeto img{
	width: 200px;
	margin: auto;
}
section div.content_about_me {
	display: flex;
	width: 90%;
	max-width: 1024px;
	margin: auto;
	padding: 10px;
}

section div.content_about_me > img{
	width: 30%;
	height: 400px;
	margin-top: 100px;
	border-radius: 30px;
	box-shadow: 2px 2px 5px 1px black;


}
section div.content_about_me p{
	width: 70%;
	margin-top: 50px;
	margin-left: 50px;
	text-indent: 30px;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 2em;
}
footer{
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: #555555;
}
.content_footer {
	width: 100%;
	max-width: 1024px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content_footer h3{
	color: white;
	font-size: 2em;
	letter-spacing: 2px;
	font-weight: 300;
}
.contato form{
	display: flex;
	width: 50%;
	margin-bottom: 30px;
	flex-direction: column;
}
.contato form input, textarea{
	background-color: #555555;
	border: none;
	color: white;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	border-bottom: 1px solid white;
}
.contato form button{
	background-color: #FF4F5A;
	color: white;
	border-radius: 5px;
	border: 1px solid white;
	width: 50%;
	font-size: 1.2em;
	padding: 10px;
	margin: 10px;
}
.copy {
	width: 100%;
	line-height: 60px;
	font-weight: 300;
	height: 60px;
	background-color: #FF4F5A;
	color: white;
	text-align: center;
}