
* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1024px;
	display: flex; 
}

header {
	margin: auto;
	display: flex;
	justify-content:space-between;
	height:12vh;
	max-width: 1024px;
}
header .logo {
	display: flex;
	align-items:center;
	font-size: 37px;
	letter-spacing: 0.1em;
	color: #e8523c;
	text-shadow:0px 1px 0px #555555;

}
i.fas{
	display: none;
	font-size: 30px;
	line-height: 90px;
	color: #FF4F5A;
}
.menu {
	display:flex;
	justify-content: flex-end;
	font-weight: 300;
	align-items:center;
}
.hidden{
	display: none;
}
.show{
	display: block;
}
nav a {
	display:block;
	padding:15px;
	margin-left: 5px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
	transition: 0.2s;
}
nav a.active,
nav a:hover {
	background-color:#FF4F5A;
	border-radius: 5px;
	color:#FFFFFF;
}

section{
	width: 100%;
	margin: auto;
}

.banner {
	display:flex;
	justify-content:center;
	color: white;
	height: 70vh;
	background-color: #FF4F5A;
	padding: 2%;
}
.div-img img {
	width: 400px;
	border-radius: 20px;
	margin: auto;
	margin-top: 50px;
}
.column {
	flex-direction: column;
}
.headline {
	flex:1;
	display:flex;
	flex-direction: column;
	justify-content:center;
}
.headline h1 {
	color: #fff;
	padding:2%;
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 0.1em;
	text-shadow:0px 1px 0px #555555;
}
.headline p{
	margin: 15px;
	padding: 20px;
	letter-spacing: 0.1em;
	text-indent: 30px;
}
section div.title_section{
	width: 100%;
	background-color: #e8523c;
	height: 120px;
	line-height: 120px;
	text-align: center;
	color: white;
	font-size: 37px;
	border-radius: 0 0 35px 35px;
}
section div.content_projetos {
	width: 100%;
	margin: auto;
	margin-top: 20px;
	max-width: 1024px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

div.content_projetos .projeto {
	width: 300px;
	margin: 15px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #e8523c;
	box-shadow: 2px 2px 5px 1px black;
	color: white;
	padding-bottom: 0;
}
.projeto h2 {
	color: white;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
}
.projeto p{
	padding: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	text-indent: 30px;
	background-color: white;
	color: black;
}
.projeto img{
	width: 200px;
	margin: auto;
}
section div.content_about_me {
	display: flex;
	width: 90%;
	max-width: 1024px;
	margin: auto;
	padding: 10px;
}

section div.content_about_me > img{
	width: 30%;
	height: 400px;
	margin-top: 100px;
	border-radius: 30px;
	box-shadow: 2px 2px 5px 1px black;


}
section div.content_about_me p{
	width: 100%;
	padding: 2%;
	text-indent: 30px;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 2em;
}
footer{
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: #555555;
}
.content_footer {
	width: 100%;
	max-width: 1024px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content_footer h3{
	color: white;
	font-size: 2em;
	letter-spacing: 2px;
	font-weight: 300;
}
.contato form{
	display: flex;
	width: 50%;
	margin-bottom: 30px;
	flex-direction: column;
}
.contato form input, textarea{
	background-color: #555555;
	border: none;
	color: white;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	border-bottom: 1px solid white;
}
.contato form button{
	background-color: #FF4F5A;
	color: white;
	border-radius: 5px;
	border: 1px solid white;
	width: 50%;
	font-size: 1.2em;
	padding: 10px;
	margin: 10px;
}
.copy {
	width: 100%;
	line-height: 60px;
	font-weight: 300;
	height: 60px;
	background-color: #FF4F5A;
	color: white;
	text-align: center;
}
@media screen and (max-width: 992px) {
	.menu {
		display: none;
	}
	i.fas{
		display: block;
		margin-right: 20px;
		cursor: pointer;
	}
	.logo{
		flex: 1;
		justify-content: center;
	}
	.menu-mobile {
		width: 60vw;
		background: white;
		position: absolute;
		right: 0;
		justify-content: flex-end;
		align-items: flex-end;
		flex-direction: column;
		align-items: center;
		height: 100vh;
	}
	i.fa-times{
		font-size: 20px;
		text-align: right;
	}
	.menu-mobile a{
		width: 100%;
		text-align: center;
	}
	nav a.active,
	nav a:hover {
		border-radius: 0;
		width: 95%;
	}
}
@media screen and (max-width: 768px) {
	.banner{
		height: 100%;
		padding: 2%;
	}
	.container{
		flex-direction: column;
		align-items: center;
	}
	.headline{
		text-align: center;
	}
	.headline h1, .headline p{
		margin: 0;
		padding: 2%;
	}
	section div.content_about_me {
		flex-direction: column;
		width: 100%;
		margin: auto;
		padding: 2%;
	}
	
	section div.content_about_me > img{
		width: 50vw;
		height: 100%;
		margin: auto;
		border-radius: 30px;
		box-shadow: 2px 2px 5px 1px black;
	
	
	}
	section div.content_about_me p{
		width: 90%;
		font-weight: 300;
		line-height: 1.2em;
	}
	.contato form{
		margin: auto;
		width: 100%;
	}

}
@media screen and (max-width: 768px) {
	.headline h1, .headline p{
		margin: 0;
		padding: 10%;
	}
	section div.title_section{
		border-radius: 0;	
	}
}