* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
.hidden{
	display: none;
}
.show{
	display: block;
}
body {
	margin: 0;
	padding: 0;
}
body.dark {	
	background-color: #2e302e;
	color: white
}
.container{
	margin: 0 auto;
}
header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: white;
}
body.dark header {
	background-color: #2e302e;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo h1 {
	color: #e8523c;
	text-align: center;
	text-shadow:2px 10px 5px #555555;
}
body.dark .headline h1 {
	color: rgb(58, 56, 56);
	text-shadow:2px 10px 5px #555555;
}
i#btn-open {
	align-self: flex-end;
}
.btn-dark{
	width: 50px;
	margin-left: 10px;
	border: none; 
	background: none;
	height: 50px;
	background-image: url("../images/btn-dark.png");
	background-repeat: no-repeat;
}
i.fas{
	display: none;
	font-size: 30px;
	line-height: 90px;
	margin: 0 10px;
	cursor: pointer;
	display: block;
	color: #FF4F5A;
}
body.dark .menu {
	background-color: #2e302e;
	box-shadow: 0px 0px 10px 1px white;
}
.menu {
	position: absolute;
	padding: 0 0 10px 0;
	top: 0;
	right: 0;
	width: 90%;
	display:none;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px rgb(14, 13, 13);
}
.menu.show {
	display: flex;
}
.menu i {
	align-self: flex-end;
	margin-right: 20px;
}
.menu-mobile {
	position: sticky;
	top: 0;
	width: 95%;
}
nav a {
	display:block;
	padding:15px;
	margin-left: 5px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
	transition: 0.2s;
}
nav a.active,
nav a:hover {
	background-color:#FF4F5A;
	border-radius: 5px;
	color:#FFFFFF;
}
section{
	width: 100%;
	margin: auto;
}
.banner {
	display:flex;
	justify-content:center;
	color: white;
	justify-content: center;
	background-color: #FF4F5A;
	padding: 2%;
}

body.dark .banner {
	display:flex;
	background-color: #ff4f5bb0;
	color: rgb(177, 171, 171);
	text-shadow:0px 1px 0px #3b3b3b;
}
.banner p{
	margin: 0 ;
	padding: 2%;
}
.div-img{
	width: 300px;
	height: 300px;
	background-image: url('../images/BANNER.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 0 auto;
	border-radius: 30px;
}
body.dark .div-img{
	box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}
.headline {
	flex:1;
	display:flex;
	flex-direction: column;
	justify-content:center;
}
.headline h1 {
	padding:0;
	margin: 0;
	width: 100%;
	color: #fff;
	text-shadow:0px 1px 0px #555555;
	text-align: center;
	font-size: 2.2em;
}
h2 {
	font-size: 1em;
	text-shadow:0px 1px 0px #555555;
}
.headline p{
	margin: 15px;
	padding: 20px;
	letter-spacing: 0.1em;
	text-indent: 30px;
}
body.dark div.title_section{
	color: rgb(58, 56, 56);
	text-shadow:2px 10px 5px #555555;
}
div.title_section{
	width: 100%;
	background-color: #e8523c;
	height: 120px;
	line-height: 120px;
	text-align: center;
	color: white;
	font-size: 37px;
	border-radius: 0 0 35px 35px;
}
div.content_projetos,
div.content_artigos {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.git-logo {
	background: white;
	border-radius: 5px;
}
div.content_projetos p {
	padding: 10px;
	margin: 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px rgb(143, 137, 137);
}
div.content_projetos .projeto:hover{
	background-color: #c26d60;
	box-shadow: 0px 0px 5px black;
}
body.dark div.content_projetos p, body.dark .artigo p {
	background-color: #3b3b3b;
	color: white;
}
.artigo {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.artigo div {
	display: flex;
	flex-direction: column;
}
.artigo div p {
	margin: 10px;
	border-radius: 5px;
	text-align: justify;
	padding: 5px;
	font-weight: bold;
	box-shadow: 0px 0px 5px white;
}
.artigo img{
	width: 100%;
}
div.content_projetos .projeto, .artigo {
	width: 300px;
	margin: 15px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #e8523c;
	box-shadow: 2px 2px 5px 1px black;
	color: white;
	padding-bottom: 0;
	cursor: pointer;
}
.projeto h2, .artigo div h2 {
	color: white;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
}
.projeto p, .artigo div p{
	padding: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	text-indent: 30px;
	background-color: white;
	color: black;
}
.projeto img{
	width: 200px;
	margin: auto;
}
div.content_about_me {
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.content_about_me img{
	margin: 20px auto;
	width: 100%;
	max-width: 230px;
	border-radius: 5px;
	box-shadow: 0px 2px 5px 1px white;
}
div.content_about_me p{
	text-indent: 30px;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1em;
	padding: 15px;
}
footer{
	display: flex;
	flex-direction: column;
	background-color: #5555557a;
}
.content_footer {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content_footer h3{
	color: white;
	font-size: 2em;
	letter-spacing: 2px;
	font-weight: 300;
	margin: 30px auto;
}
.contato form{
	display: flex;
	flex-direction: column;
}
.contato form input, textarea{
	background-color: #555555;
	border: none;
	color: white;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	border-bottom: 1px solid white;
}
.contato form button{
	background-color: #FF4F5A;
	color: white;
	border-radius: 5px;
	border: 1px solid white;
	width: 50%;
	font-size: 1.2em;
	padding: 10px;
	margin: 10px;
}
.copy {
	width: 100%;
	line-height: 60px;
	font-weight: 300;
	height: 60px;
	background-color: #FF4F5A;
	color: white;
	text-align: center;
}
@media (min-width: 635px ){
	header {
		justify-content: space-evenly;
		flex-wrap: wrap;
		height: unset;
	}
	.menu, body.dark .menu {
		box-shadow: unset;
	}
	div.content_about_me, div.content_artigos {
		flex-direction: row;
		max-width: 1024px;
		margin: 0 auto;
	}
	.artigo {
		width: 100%;
		flex-direction: row;
	}
	.artigo img {
		width: 20%;
	}
	.artigo div {
		width: 80%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
}
@media (min-width: 824px ){
	#btn-open {
		display: none;
	}
	.menu {
		position: static;
		display: flex;
		margin-top: 10px;
		flex-direction: row;
		width: unset;
	}
	.menu i {
		display: none;
	}
	.banner {
		height: unset;
		margin: 0 auto;
	}
	.container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		max-width: 1024px;
	}
	section .content_projetos, section .content_artigos{
		flex-direction: row;
		max-width: 1024px;
		margin: 0 auto;
		flex-wrap: wrap;
	}
}